.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .stats {
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1em;
    margin-bottom: 2rem;
  }

  .form {
    max-width: 100%;
    width: 50%;

    textarea {
      display: block;
      width: 100%;
      height: 200px;
      margin-top: 1rem;
      margin-bottom: 3rem;
    }

    button {
      display: block;
      margin-top: 2rem;
      border-radius: 1em;
      background: white;
      padding: 0.5rem 1rem;
      color: var(--primary-color);
      font-weight: 700;
      border: 0.25em solid var(--primary-color);

      &:hover,
      &:focus {
        background: var(--primary-color);
        color: white;
        cursor: pointer;
      }
    }
  }

  .piiDetectionWarning {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--primary-color);
    color: var(--primary-color);
    font-weight: 600;
  }
}
